  <div class="container">
    <form>
      <div class="row">
        <div class="span3">
          <div>
            <h1>
              Sign up
            </h1>
            <p>
              Signing up is easy&nbsp;
            </p>
          </div>
        </div>
        <div class="span9">
          <form>
            <div class="control-group">
            </div>
            <div class="control-group">
              <label for="textinput1">
                Email
              </label>
              <input name="email" type="email">
            </div>
            <div class="control-group">
              <label for="textinput2">
                Password
              </label>
              <input name="pw" type="password">
            </div>
            <div class="control-group">
              <label for="textinput3">
                Confirm Password
              </label>
              <input name="pw2" type="password">
            </div>
            <div class="control-group">
              <label for="textinput4">
                Date of Birth
              </label>
              <input name="textinput4" type="date">
            </div>
            <label for="selectinput1">
              Sex
            </label>
            <select name="selectinput1">
            </select>
          </form>
        </div>
      </div>
    </form>
  </div>