<!-- Header Meta Tags --> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name="keywords" content="DUO, Dating" />
  <meta name="description" content="Duo - the most intelligent matching service in the world" />   

    
  <title style="text-transform: capitalize;">Duo</title>
 
<!-- Default Javscript --> 
  <noscript>
    <style type="text/css">
            .top_bar .top_bar_content .no_java{display:block;}
        </style>
    </noscript>

<!-- Default CSS --> 
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  